@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@font-face {
  descent-override: 0%;
  font-family: 'Borel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Borel-Regular.ttf') format('truetype');
}

@theme {
  --font-geist: 'Geist', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-borel: 'Borel', cursive;

  --font-sans: var(--font-inter);
  --color-background: #F7F9FF;

  --text-xxl: 12rem;
  --text-xxl--line-height: 1;

  /* Text */
  --color-foreground: #1b1b1b;
  --color-foreground-primary: #121212;
  --color-foreground-secondary: #4a4a4a;
  --color-foreground-muted: #aaaaaa;
  --color-foreground-destructive: #FAFAFA;

  /* Card */
  --color-card: #FFFFFF;
  --color-card-border: #F0F0F0;
  --color-destructive: #FF3F3F;
  --color-outline: #353535;
  --shadow-card: 0px 0px 3px rgba(0, 0, 0, 0.01),
    0px 0px 11px rgba(0, 0, 0, 0.02),
    0px 0px 25px rgba(0, 0, 0, 0.03);

}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}